# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local audio files
backend/audio/*

# C# build artifacts
backend/[Ff]reddy/bin/
[Ff]reddy/obj/

# C++ build artifacts
[backend/Ff]reddysEssentia/build/

# Visual Studio files
*.vs/

# User-specific files
*.user
*.suo
*.sln.docstates

# IntelliJ IDEA files
*.idea/

# Dependency directories
packages/

# dependencies

frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend//coverage

# production
frontend/build

# misc
*.DS_Store
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
