# Local audio files
audio/*

# C# build artifacts
[Ff]retty/bin/
[Ff]retty/obj/

# C++ build artifacts
[Ff]rettysEssentia/build/

# Visual Studio files
*.vs/

# User-specific files
*.user
*.suo
*.sln.docstates

# IntelliJ IDEA files
*.idea/

# Dependency directories
packages/
